**/.idea
**/.settings
**/.classpath
**/.project
**/target
**/log
**/overlays
**/solr_home
**/db/*.db

*.class
*.jar
*.war
*.ear
*.iml
*.iws
*.db

.DS_Store
src/main/webapp/node
src/main/webapp/node_modules
src/main/webapp/dist
src/main/webapp/lib
src/main/webapp/fonts