<div class="nav navbar-nav navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            Greetings, <u>{{ctrl.firstName}}</u>!
        </div>
        <button ng-click="ctrl.logout()" class="btn btn-default navbar-btn navbar-right">Logout</button>
    </div>
</div>


<ui-gmap-google-map
        center='ctrl.map.center'
        zoom='ctrl.map.zoom'
        events='ctrl.map.mapEvents'
        options='ctrl.map.options'>
    <ui-gmap-window
            show="ctrl.pinInfo.show"
            coords="ctrl.pinInfo.model"
            options="ctrl.pinInfo.options"
            closeClick="ctrl.pinInfo.closeClick()">
        <div style="width: 300px">
            <div style="color: black">
                <span style="font-weight: bold">{{ctrl.pinInfo.title}}</span>
                pinned by <span style="font-weight: bold">{{ctrl.pinInfo.userName}}</span>
                // <span class="date-cell">{{ctrl.pinInfo.created}}</span>
            </div>
            <div style="color: darkgray; word-wrap: break-word">
                {{ctrl.pinInfo.description}}
            </div>
        </div>
    </ui-gmap-window>

    <ui-gmap-window
            show="ctrl.addPin.show"
            coords="ctrl.addPin.model"
            options="ctrl.addPin.options"
            closeClick="ctrl.addPin.closeClick()">

        <form role="form" ng-submit="$parent.ctrl.addNewPin()">
            <div style="margin-bottom: 10px" class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Pin name"
                       ng-model="$parent.ctrl.addPin.pinTitle"
                       required>
            </div>
            <div style="margin-bottom: 10px" class="input-group">
                <textarea class="form-control"
                          rows="3"
                          placeholder="Pin description"
                          ng-model="$parent.ctrl.addPin.pinDescription"
                          required></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </form>

    </ui-gmap-window>

    <ui-gmap-markers
            models="ctrl.myPins"
            idkey="ctrl.myPins.id"
            coords="'self'"
            options="'options'"
            events="ctrl.markerEvents">
    </ui-gmap-markers>
</ui-gmap-google-map>

<footer class="footer">
    <div class="container">
        <p>

        <p class="text-muted">
            <a target="_blank" href="https://github.com/BorizZebr/angular-spring-mongo-sandbox">GitHub</a>
        </p>
    </div>
</footer>

